<label [for]="config.fieldId" class="gwipp-input-label">
  <span class="font-weight-bold">
    {{ config.label }}
  </span>
  <small class="mr-1 text-muted" [hidden]="!config.optional">(Optional)</small>
</label>

<div class="input-group">
  <input [type]="isHidden ? 'password' : 'text'" class="form-control" [id]="config.fieldId" #input
         (keyup)="onChange($event, input.value)">

  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="onShowClick()">
      <gwipp-icon [icon]="isHidden ? eyeIcon : eyeSlashIcon"></gwipp-icon>
    </button>
  </div>
</div>

<gwipp-progress-bar *ngIf="hasStrength && input.value.length > 0" label="Bad" #strength></gwipp-progress-bar>

<div *ngIf="errors.length > 0">
  <div *ngFor="let error of errors" class="text-danger mt-1">
    <div class="d-flex flex-row justify-content-end">
      <gwipp-icon [icon]="errorIcon"></gwipp-icon>
      <span class="ml-1">{{ error }}</span>
    </div>
  </div>
</div>

<small *ngIf="config.infoLabel.length > 0" class="form-text text-muted">{{ config.infoLabel }}</small>
