@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/variables";
@import "~node_modules/bootstrap/scss/mixins";

@import "../constants/constants";
@import '../mixins/mixins';

.gwipp-nav-bar {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  color: white;
  height: $gwipp-nav-bar-height;
  background-color: $primary-color;

  &-title {
    height: 100%;
    font-weight: bold;
    font-size: xx-large;
  }

  &-item {
    height: 100%;
    font-weight: bold;
    font-size: x-large;
  }

  &-drop-menu {
    color: black;
    background-color: white;
    position: absolute;
    top: $gwipp-nav-bar-height;
    z-index: $z-navDropDown;
    @include border(gray('300'));
  }
}
