@mixin fill-space {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center-vertical {
  left: 50%;
  transform: translateX(-50%);
}

@mixin visibility($visibility) {
  visibility: $visibility !important;
}

@mixin border($color, $width: 1px) {
  border: {
    width: $width;
    style: solid;
    color: $color;
  }
}

@mixin clickable {
  cursor: pointer !important;
}

@mixin drop-shadow {
  box-shadow: 3px 8px 18px 2px gray('800');
}
