@import "../constants/constants";
@import '../mixins/mixins';

.gwipp-toast {
  position: fixed;
  z-index: $z-toast;
  @include border(gray('300'));
  @include drop-shadow;

  &-top-left {
    top: 60px;
    left: 40px;
  }

  &-top-center {
    top: 60px;
    @include center-vertical;
  }

  &-top-right {
    top: 60px;
    right: 40px;
  }

  &-bottom-left {
    bottom: 60px;
    left: 40px;
  }

  &-bottom-center {
    bottom: 60px;
    @include center-vertical;
  }

  &-bottom-right {
    bottom: 60px;
    right: 40px;
  }
}
