
// Colors
$primary-color: #4682B4;
$warning: #FFD658;
$info: #5654BF;

// z-index
$z-menu: 499;
$z-navDropDown: 500;
$z-overlay: 1000;
$z-toast: 2000;

$gwipp-border-thick: 2px;

$qwipp-btn-action-radius: 23px;

$gwipp-input-height: 38px;
$gwipp-input-border-radius: 8px;

$gwipp-nav-bar-height: 60px;

$gwipp-menu-width: 200px;
