<div class="d-flex flex-column p-2" [formGroup]="formGroup">

  <ng-content></ng-content>

  <gwipp-submit-group [cancelConfig]="config.cancelConfiguration"
                      [submitConfig]="config.submitConfiguration"
                      [submitEnabled]="formGroup.valid"
                      [cancelEnabled]="formGroup.dirty || config.cancelAlwaysEnabled"
                      (formEvent)="onCancelSubmit($event)" #submitGroup>
  </gwipp-submit-group>
</div>
